{% extends 'cltv_app/base.html' %}
{% load static %}

{% block title %}Django App Home{% endblock %}

{% block content %}
<section class="bg-gradient-to-r from-blue-200 to-purple-200 dark:bg-gradient-to-r dark:from-blue-900 dark:to-purple-900">
    <div class="container mx-auto grid py-8 px-8 lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Unlock the Power of Customer Lifetime Value (CLTV)</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                Calculate the Customer Lifetime Value (CLTV) of your customers by uploading an Excel file containing order data.
            </p>
            <a href="{% url 'upload_file' %}" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300">
                Get Started
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
            </a>
            <a href="{% url 'upload_file' %}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center ring-1 ring-slate-500 text-slate-500 rounded-lg hover:bg-slate-500 hover:text-white focus:ring-4 focus:ring-blue-300">
                Upload customer data
            </a>
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="{% static 'images/insights.jpg' %}" alt="CLTV App Illustration">
        </div>                
    </div>
</section>
</section>
{% endblock %}
